opencv-python-headless==4.8.1
matplotlib==3.8.2
numpy==1.26.3
ultralytics==8.0.237
fastapi[standard]==0.115.12
uvicorn[standard]==0.34.2
redis==6.0.0b2
requests==2.32.3
python-multipart==0.0.6
pillow==10.2.0
easyocr==1.7.1
