# Ignore IDE folder
.idea/

# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual env
env/
venv/
.venv/

# Logs
logs/
*.log

# Models / Large weights
*.pt
*.pth
*.onnx
*.weights
runs/
checkpoints/

# Data (untracked large/local)
datasets/
data/
results/

# FastAPI / Env
.env
.env.*
uvicorn.log

# OS
.DS_Store
Thumbs.db